@{
    ViewData["Title"] = "Контакти";
}
<div style="margin-left:100px">
<h2 style="margin-top:150px">СВЪРЖЕТЕ СЕ С НАС.</h2>
<p>Email: hotelbaubau@abv.bg<br />
    Тел. 0884461444</p>
<br />
<h2 style="margin-top:20px">НАШИЯТ АДРЕС.</h2>
<p>
    Хотел за кучета “БАУ-БАУ”<br />
    гр. Пловдив<br />
    ул.39-та №15
</p>
</div>

