
@{
    ViewData["Title"] = "Галерия";
}

<h1 style="margin-left:250px">Галерия</h1>
<div class="row" style="margin-top:30px">
  <div class="col-md-3">
        <img src="https://www.telegraph.co.uk/content/dam/family/2021/06/22/dog-hotel-love_4_trans_NvBQzQNjv4BqplGOf-dgG3z4gg9owgQTXH-5rYAcEMfZ-k6qzXXxMMM.jpg" width="300">
  </div>
  <div class="col-md-3">
        <img src="https://i2-prod.mirror.co.uk/incoming/article23491110.ece/ALTERNATES/s1200b/0_SWNS_DOG_HOTEL_013.jpg" width="300">
  </div>
</div>
<div class="row" style="margin-top:30px">
  <div class="col-md-3">
        <img src="https://spotonvet.com/wp-content/uploads/2023/01/Spot-On-Pet-Hotel-ban.jpg" width="300">
  </div>
  <div class="col-md-3">
        <img src="https://static.wixstatic.com/media/3c9e04_a00eca2d6a494f6ebb442afb063231df~mv2_d_5047_3365_s_4_2.jpg/v1/fill/w_640,h_540,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3c9e04_a00eca2d6a494f6ebb442afb063231df~mv2_d_5047_3365_s_4_2.jpg" width="300">
  </div>
</div>
<div class="row" style="margin-top:30px">
    <div class="col-md-3">
        <img src="https://topdogtips.com/wp-content/uploads/2018/10/15-Things-to-Know-About-Dog-Hotel-Before-You-Leave-Your-Pup-There.jpg" width="300">
    </div>
    <div class="col-md-3">
        <img src="https://lp-cms-production.imgix.net/news/2018/11/Dog-hotel-5.jpg?auto=format&q=75" width="300">
    </div>
</div>

